.app {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #f0f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #007bff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  transition: top 0.1s, left 0.1s;
}
